<ejs-pivotview
  height="1000"
  [gridSettings]="gridSettings"
  [chartSettings]="chartSettings"
  [displayOption]="displayOption"
  [dataSourceSettings]="dataSourceSettings"
  [enablePersistence]="false"
  [showFieldList]="true"
  [showGroupingBar]="false"
  [allowCalculatedField]="true"
  [allowGrouping]="true"
  [allowDrillThrough]="true"
  [allowPdfExport]="true"
  [enableVirtualization]="false"
  [allowExcelExport]="true"
  [showToolbar]="true"
  [allowConditionalFormatting]="true"
  [toolbar]="toolbarOptions"
  [locale]="'fr'"
  (cellSelected)="onCellSelected($event)"
  (drillThrough)="onDrillThrough($event)">
</ejs-pivotview>
<pre *ngIf="drillThroughDatas">
  <h1>DrillThrough datas</h1>
  {{ drillThroughDatas | json }}
</pre>

